adf-pvn934/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-pvn934"
		},
		"LS_AI_Agent_Function_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'LS_AI_Agent_Function'"
		},
		"adlsl inked service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adlsl inked service'"
		},
		"ls_sql db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql db'"
		},
		"LS_AI_Agent_Function_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://adf-agent-fix-v2-bua7bpfmcre4hzae.canadacentral-01.azurewebsites.net"
		},
		"adlsl inked service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stdhackathon234.dfs.core.windows.net/"
		},
		"ls_sql db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlsrvr24.database.windows.net"
		},
		"ls_sql db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb24"
		},
		"ls_sql db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pavnkumr"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Autonomous_Fix')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EP_Initial_Run",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Copy_Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SetVar_Error_JSON",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "EP_Initial_Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SchemaInputJSON",
							"value": {
								"value": "@string(json(concat('{\"errorMessage\":\"', replace(activity('EP_Initial_Run').error.message, '\"', ''''), '\"}')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Call_AI_Agent",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "SetVar_Error_JSON",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "OpenAIFixPipeline",
							"body": {
								"value": "@json(variables('SchemaInputJSON'))",
								"type": "Expression"
							},
							"headers": {
								"Content-Type": "application/json"
							},
							"method": "POST"
						},
						"linkedServiceName": {
							"referenceName": "LS_AI_Agent_Function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetVar_Mapping_Fix",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Call_AI_Agent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "MappingFixJSON",
							"value": {
								"value": "@string(activity('Call_AI_Agent').output)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EP_Rerun_Fix_Run",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SetVar_Mapping_Fix",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Copy_Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"MappingFixJSON": {
									"value": "@string(variables('MappingFixJSON'))",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"SchemaInputJSON": {
						"type": "String"
					},
					"CorrectedMapping": {
						"type": "String"
					},
					"MappingFixJSON": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-16T05:21:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Copy_Data')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AI_Agent_Function')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AC_Copy_Source_to_Sink",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "client_data.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(pipeline().parameters.MappingFixJSON)",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "sourceds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_sb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"MappingFixJSON": {
						"type": "string",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": []
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-15T11:28:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourceds')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_sb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsgen2ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlsl inked service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "sink"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": null
				},
				"schema": [
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "hobbies",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlsl inked service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_sb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "hobbies",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TargetData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlsl inked service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlsl inked service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AI_Agent_Function')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('LS_AI_Agent_Function_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('LS_AI_Agent_Function_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsl inked service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adlsl inked service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adlsl inked service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql db_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql db_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql db_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}